
/**************************************
初期設定
***************************************/

.body{
  background:url("..static/01.jpg");
  background-size: cover;
  z-index: auto;
}







/**************************************
レイアウト設定
***************************************/

.wrapper{
  position: relative;
  width: 1420px;
}


body{
  background-repeat: no-repeat;
}



/**************************************
header
***************************************/



.header{
  background: None;
  /*outline: 1px solid black;*/
  height: 200px;
  width: 1420px;
  margin-top: -65px;

}
.header_image{
  background: url("../static/dark-concrete.png");
  width: 1420px;
  height: 200px;
}

#logo{
  font-size: 50px;
  font-family: cursive;
  padding-top: 30px;
  padding-left: 100px;
  color: white;
}

.logo-text{
  float: left;
  font-size: 20px;
  padding-left: 500px;
  font-family: serif;
  color: white;
}

.navbar-brand{
  height: 100px;
}

.link{
  float: right;
}

.HP{
  float: left;
  padding-left: 1000px;
  padding-top: -30px;;
  margin-right: 20px;
}

.HP_text{
  color: silver;
}

.twitter{
  float: right;
  padding-right: 100px;
}



/**************************************
メイン領域
***************************************/


.main{
  /*outline: 1px solid black;*/
  padding-left: 100px;
  height: 600px;
}

.main-image{
  text-align: center;
  padding-top: 30px;
}

.content{
  margin-right: 60px;
  margin-top:30px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  /*outline: 1px solid black;*/
  /*background: red;*/
  height: 500px;
}

.under_bar{
  font-size: 20px;
  background: linear-gradient(transparent 60%,#4169e1 0%);
}

.result_title{
  float: left;
  font-size: 16px;
  font-family: serif;
  color: white;
}

.result_name{
  font-family: cursive;
  font-size: 40px;
}

.result1{
  float: left;
  margin-left: 20px;
  font-family: serif;
  color: white;
}

.tamaki{
  margin-left: 180px;
  border-radius: 100px 100px 100px 100px;
}


.left{
  float: left;
  /*outline: 1px solid black;*/
  /*background: green;*/
  width: 500px;
  height: 500px;
  padding-left: 150px;
}

.left_text{
  color: white;
  font-family: serif;
}

.form{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}


/*
.cp_cssslider {
	width: 300px;
	height: 200px;
	overflow: hidden;
	margin: 2em auto;
	border: 10px solid #ffffff;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item {
	width: 300px;
	height: 200px;
	float: left;
	position: relative;
}
.cp_slidewrapper {
	width: 500%;
	position: relative;
	left: 0;
	animation: slider 20s infinite ease;
}
@-webkit-keyframes slider {

	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {

	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
*/



.right{
  float: right;
  /*outline: 1px solid black;*/
  /*background: blue;*/
  width: 500px;
  height: 500px;
  padding-left: -100px;
}

.sub-image{
  width: 400px;
  height: 500px;
}


/**************************************
footer
***************************************/

.footer{
  clear:both;
  text-align: left;
}

/**************************************
結果ページのスライド
***************************************/
.slide{
  margin: 0 auto 0;
  border: 5px solid black;
  width: 500px;
  height: 300px;
  background-color: white;
  text-align: center;
}
.bar{
  overflow: hidden;
  text-align: center;
}
#main_image{
  max-width: 500px;
  max-height: 300px;
}
.text-box{
  position: absolute;
  width: 500px;
  height: 100%;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.nav{
  display: inline-block;
}
.box{
  width: 500px;
  height: 300px;
  position: relative;
}
#prev{
  position: absolute;
  z-index: 99999;
  width: 40px;
  height: 40px;
  background-image: url("prev.png");
  background-repeat: no-repeat;
  top: 130px;
  opacity: 0.4;
  cursor: pointer;
}
#next{
  position: absolute;
  z-index: 99999;
  width: 40px;
  height: 40px;
  background-image: url("next.png");
  background-repeat: no-repeat;
  right: 0;
  top: 130px;
  opacity: 0.4;
  cursor: pointer;
}
