<!doctype html>
<html>
  <head>
    <meta charset='UTF-8'>
    <tittle>
    <link rel="stylesheet" href="../static/style2.css">

  </head>

  <div class="wrapper">
  <body background="../static/03.gif">
  　<!--[[ロゴ]]-->
    <header class="header" >
      <div class="header_image" src="../static/header.png" width="1420px" height="200px">

      <h1 id="logo">
        Potential To be a party leader
      </h1>

      <div class="lower_header">
        <div class="logo-text">
          〜AIによるあなたが国政政党の党首になれる確率〜
        </div>


      <div class="link">
        <section class="HP">
           <a class="HP_text" href="/">.logに戻る</a>
        </section>
        <section class="twitter">
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>
      </div>

    </div>

    </div>
  </header>


      <main class="main">
        <!--<section class="main-image">
          <img src="../static/blackbord.jpg" width="700" height="400" alt="sample image">
        </section>
-->
        <div class="content">
          <section class="left">
            <!--views.pyの/resultにとばす-->
            <div class="left_text">
            <br><br><br><br>
             <p class="under_bar"><あなたに似ている国政政党の党首を判定します></p>
<br>
            　判定基準はAI（DeepLearning）によるもので<br>
            　あなたと現職の国政政党党首達の顔との近似率で決定される<br>
            </div>

            <form class="form" action="/result" method=post enctype=multipart/form-data>
              <p><input type=file name=file>
             <input type=submit value=Upload>
            </form>

          </section>

          <section class="right">
            <h1 class="sub-image">
            <img src="../static/ookuma.gif" width="350p" height="500px;">
          </h1>
          </section>
        </div>
      </main>
    </div>


  </body>

  <footer class="footer">
    <small>Copyight &copy;2018 log.com</small>
  </footer>

</html>
